include ../navbar

div.container
  h2 新しいコホートを作る
  form.form-horizontal(
    action="/cohort/create",
    method="POST"
  )
    fieldset
      legend 基本設定
      div.control-group
        label.control-label(for="input01") 識別子(小文字&英数字)
        div.controls
          div.input-prepend
            span.add-on http://example.com/cohort/
            input.prependedInput(type="text",name="id")
      div.control-group
        label.control-label(for="input01") タイトル
        div.controls
          input.input-xlarge(type="text",name="title")
      legend コホート設定
      div.control-group
        label.control-label(for="input01") Acquisition
        div.controls
          input.input-xlarge(type="text",name="acquisition")
      div.control-group
        label.control-label(for="input01") Activation
        div.controls
          input.input-xlarge(type="text",name="activation")
      div.control-group
        label.control-label(for="input01") Retention
        div.controls
          input.input-xlarge(type="text",name="retention")
      div.control-group
        label.control-label(for="input01") Revenue
        div.controls
          input.input-xlarge(type="text",name="revenue")
      div.control-group
        label.control-label(for="input01") Referral
        div.controls
          input.input-xlarge(type="text",name="referral")
      div.form-actions
        button.btn.btn-primary(type="submit") 送信
        button.btn キャンセル
